extends layout
block content
    h1= title
    | <div id='msgSuccess' class="alert alert-success"></div>
    | <div id='msgDanger'class="alert alert-danger"></div>

    form#formUpdate(method="post",action="/users/edit")
        table
            tbody
                tr
                    td: span Username
                    td: input#username( type='text', placeholder='Username' value=item.username name='username')
                tr
                    td: span Email
                    td: input#email(type='text', placeholder='Email' value=item.email name='email')
                tr
                    td: span Fullname
                    td: input#fullname(type='text', placeholder='Full Name' value=item.fullname name='fullname')
                tr
                    td: span Age
                    td: input#userage(type='text', placeholder='Age' value=item.age  name='age')
                tr
                    td: span Location
                    td: input#location(type='text', placeholder='Location' value=item.location  name='location')
                tr
                    td: span Gender
                    td: input#gender(type='text', placeholder='Gender' value=item.gender  name='gender')
                tr
                    td: span Password
                    td: input#password(type='password', placeholder='Password' value=item.password  name='password')

        input#id(type='hidden', placeholder='id' value=item._id  name='id')
        br
        button#btnUpdateUser(type="submit") Update