doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        ul#menu
            li
                a(href="/")="Accueil"
                a(href="/users/new")="Ajouter un utilisateur"
                a(href="/users/search")="Rechercher un utilisateur"
                a(href="/chat")="Tchat"
                a(href="/disconnect")="Déconnecter"

        block content
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/global.js')

